<template name="header">
  <nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="{{pathFor 'postsList'}}">My Chat</a>
  </div>

  <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if currentUser}}<li><a href="{{pathFor 'postSubmit'}}">Créer un post</a></li>{{/if}}
      </ul>
      <ul class="nav navbar-nav">
        {{#if currentUser}}<li><a href="{{pathFor 'friendsList'}}">Amis</a></li>{{/if}}
      </ul>
      <ul class="nav navbar-nav">
        {{#if currentUser}}<li><a href="{{pathFor 'roomsList'}}">Salons</a></li>{{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </nav>
</template>
